@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    font-family: Roboto, sans-serif;
}

body{
    display:flex;
    justify-content: center;
}

.main {
    height: 62vh;
    width: 50vh;
    background-color: #f2f2f2;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5vh;
}
.display {
    width: 40vh;
    height: 12vh;
    border: 2px solid black;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #ecffe6;
}

.calc {
    flex: 1;
}

.value {
    flex: 1.5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
    color: black;
    font-size: 1.5rem;
}

.clear {
    background-color: #3333ff;
    color: white;
}

.delete {
    background-color: #ff3385;
    color: white;
}

.keypad {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
}

.key-row {
    display:flex;
    justify-content: space-evenly;
    gap: 3.5vh;
}

.key {
    height: 7vh;
    width: 7vh;
    border: 2px solid black;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: 700;
    background-color: #737373;
    color: white;
}

.key:hover {
    background-color: #8c8c8c;
}

.special-key {
    height: 7vh;
    width: 18vh;
    border: 2px solid black;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: 900;
}

.clear:hover {
    background-color: #6666ff;
}

.delete:hover{
    background-color: #ff66a3;
}

.operator-key {
    font-size: 1.8em;
}

.key-press {
    transition: all 0.07s;
    transform: scale(1.1);
    font-size: 1.8em;
}